# Newline format in Windows(CR-LF)
*.bat text eol=crlf
*.filters text eol=crlf
*.ini text eol=crlf
*.rc text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
Documents/*.txt text eol=crlf
Source/Dependency/WinPcap/* eol=crlf

# Newline format in Linux/macOS(LF)
*.pbxproj text eol=lf
*.plist text eol=lf
*.service text eol=lf
*.xcscheme text eol=lf
*.xcsettings eol=lf
*.xcworkspacedata eol=lf
CMakeLists.txt text eol=lf
Source/Auxiliary/Scripts/* text eol=lf
Source/Dependency/OpenSSL/* text eol=lf
Source/Pcap_DNSProxy/CMakeLists.txt text eol=lf
Source/Pcap_DNSProxy.xcodeproj/* eol=lf
