# Newline format in Windows(CR-LF)
*.bat text eol=crlf
*.filters text eol=crlf
*.ini text eol=crlf
*.rc text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf

# Newline format in FreeBSD/Linux/macOS(LF)
*.plist text eol=lf
*.service text eol=lf
*.sh text eol=lf
Pcap_DNSProxy/CMakeLists.txt text eol=lf
Pcap_DNSProxy/Pcap_DNSProxy/CMakeLists.txt text eol=lf
